<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Irrigation Controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/irrigation.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div>
		<p>
			Zip Code: <input type="text" id="zipCode" name="zipCode"/>
		</p>
		<p>
			<button id="waterOrNotButton" type="button">Water or not</button>
		</p>	
		<p>
			<div id="waterOrNot"/>
		</p>	
		<p>
			<div id="zip"/>
		</p>	
		<p>
			<div id="prep"/>
		</p>	
		<p>
			<div id="message"/>
		</p>		
	</div>
</body>
</html>